version = 3

root = "{{ containerd_root_dir }}"
state = "{{ containerd_state_dir }}"
disabled_plugins = []

[grpc]
  address = "/run/containerd/containerd.sock"

[plugins.'io.containerd.cri.v1.runtime']
  sandbox_image = "{{ containerd_sandbox_image }}"

  [plugins.'io.containerd.cri.v1.runtime'.containerd]
    default_runtime_name = "runc"

    [plugins.'io.containerd.cri.v1.runtime'.containerd.runtimes.runc]
      runtime_type = "io.containerd.runc.v2"

      [plugins.'io.containerd.cri.v1.runtime'.containerd.runtimes.runc.options]
        SystemdCgroup = {{ containerd_systemd_cgroup | bool | ternary('true', 'false') }}
